$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #babd8d;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;

body{
    margin: 0px;    
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;
}

html{
    font-size: 62.5%;
}

nav{
    width: auto;
    padding: 0.5rem;
    border-bottom: 1px solid $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-text-color;
    p{
        font-size: 2rem;
        padding-left: 1.875rem;
    }
    .nav-icons{
        display: flex;
        gap: 15px;
        button{
            background: none;
            border-style: none;
        }
    }

}




footer{
    $background-orange: #FA9500;
    width: 100%;
    height: 461px;
    background-color: $background-orange;
}

